
{{!-- A webpage that is only accessible if you have a user account --}}

<h1>Welcome to the password protected page</h1>

{{!-- pulls information if signed up with just the db --}}
{{#if username}}
<p>Hello, {{username}}. You Signed up locally.</p>
{{/if}}

{{!-- pulls information if you signed up with twitter --}}
{{#if twitterName}}
<p>Hello {{twitterName}}, you signed up with Twitter.</p>
{{/if}}

{{!-- tells the signed up date --}}
<P>You signed up on {{signupDate}}</P>

<h3>Your favorite things</h3>

{{!-- gets information from the db --}}
<P>Your favorite color is
  {{#if favorites.color}}
    {{favorites.color}}
  {{else}}
    not set
  {{/if}}</P>

<P>Your lucky number is
  {{#if favorites.luckyNumber}}
    {{favorites.luckyNumber}}
  {{else}}
    not set
  {{/if}}</P>

<h3>Update your favorite things</h3>

<ul>
  {{#each messages}}
    <li>{{this}}</li>
  {{/each}}
</ul>

{{!-- updates the information in the color or luckynumbers --}}
<form action="/saveSecrets" method="POST">
  Favorite Color: <input type="text" name="color">  <br>
  Lucky Number: <input type="number" name="luckyNumber">  <br>
  <input type="submit" name="updateSecrets" value="Update Secrets">
</form>

{{!-- Link to logout --}}
<a href="/logout">Log out</a>